language: java
jdk: openjdk8
services:
  - xvfb
before_install:
  - sudo apt update
  - sudo apt install openjfx
  - chmod +x ./gradlew
  - export DISPLAY=:99.0
install: true
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - $HOME/.m2/
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
before_script:
  - ./gradlew --version
script: ./gradlew build -S
env: TERM=dumb
